.HomePageAbout {
  flex: 1;
  padding: 5rem;
  max-width: 60rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.information {
  flex: 1 1 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  text-align: center;
}

.image {
  flex: 1 1 15rem;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100%;
}

.name {
  margin: 0;
}

.link {
  color: #dd696d;
}

.link:hover {
  border-bottom: 1px solid;
}
