.cvEdit { /* stylelint-disable */
  padding-top: 46px;

}

.addSection {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.remove {
	text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  margin-bottom: 10px;
}

.sectionActions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  padding-bottom: 20px;
}

