.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: #38383f;
  top: 0;
  width: 100%;
  padding: 10px;
  z-index: 1;
}

.navbarLogo {
  color: white;
  fill: white;
  height: 20px;
  width: 60px;
}

.navbarMenu {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding-left: 20px;
}

.navbarMenu > li {
  padding-right: 1em;
}

.navbarMenu a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.navbarMenu a:hover {
  color: #90CE9C;
}

.control > img {
  display: none;
  cursor: pointer;
}

.control {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.collapse {
  display: flex;
  align-items: center;
}

@media (max-width: 599px) {
  .navbar {
    flex-direction: column;
  }
  .collapsed {
    display: none;
  }
  .collapse {
    flex-direction: column;
    padding: 10px 0;
  }
  .navbarMenu {
    flex-direction: column;
  }
  .navbarMenu > * {
    padding-bottom: 10px;
  }
  .control {
    width: 100%;
  }
  .control > img {
    display: block;
  }
}

