.navbar {
  position: fixed;
  background-color: white;
  top: 0;
  width: 100%;
  padding: 10px;
  z-index: 1;
}

.navbarLogo {
  display: inline-block;
  color: black;
  fill: black;
  height: 20px;
  width: 60px;
}

.navbarMenu {
  display: inline-block;
  list-style-type: none;
  margin: 0;
}

.navbarMenu > li {
  display: inline-block;
  padding-right: 1em;
}

.navbarMenu a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

.navbarMenu a:hover {
  color: #90CE9C;
}
