.header {
  position: relative;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: var(--header-height);
  height: 25vh;
  background-image: url(static/img_new/home/background.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.header .company_header {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.header .header_text {
  font-size: 3rem;
}

.header .header_icons {
  font-size: 1rem;
  margin-left: 1rem;
  margin-bottom: 0.55rem;
  display: flex;
  flex-direction: column;
}

.header .header_icon {
  padding: 0.2rem;
  cursor: pointer;
}

.header .header_icon:last-child {
  margin-top: 0.15rem;
}

.header_icon:hover {
  color: grey;
  background-color: white;
  border-radius: 0.2rem;
}

.back_button {
  position: absolute;
  left: 0;
  color: white;
  cursor: pointer;
  font-size: 2rem;
  margin: 0.5rem;
  padding-left: 4px;
  padding-right: 4px;
  z-index: 10;
}

.back_button:hover {
  color: grey;
  background-color: white;
  border-radius: 0.8rem;
}

.name_input {
  width: 30% !important;
  margin-bottom: 0.55rem !important;
  color: black;
}

.primary {
  color: var(--primary);
}

.red {
  color: #dd696d;
}
