.member {
  width: 20rem;
  margin-bottom: 1em;
  text-align: center;
  padding: 1rem;
}

.name {
  letter-spacing: 5px;
}

.member > img {
  width: 100%;
  height: auto;
  background: url('static/img/checkers.png');
}
