.member {
  width: 20rem;
  margin-bottom: 1em;
  text-align: center;
  padding: 1rem;
}

.name {
  margin-bottom: 0.25rem;
}

.position {
  margin: 0;
}

.member > img {
  width: 100%;
  height: auto;
  border-radius: 100%;
  background: url('static/img_new/checkers.png');
}
