.header {
  height: 80vh;
  width: 100%;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.background {
  height: 80vh;
  width: 100%;
  position: absolute;
  z-index: -1;
}

.logoDesktop {
  width: 15em;
  height: auto;
  padding: 1%;
  margin-top: 3%;
  margin-bottom: 2%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  align-self: flex-start;
}

.logoMobile {
  display: none;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.buttons button {
  margin: 1%;
}

.header_text h3 {
  font-size: 24px;
  font-family: var(--body-font);
}

.header_text {
  text-align: center;
  width: 50%;
  color: rgb(255, 255, 255);
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.header_content {
  display: table-cell;
  vertical-align: middle;
}

@media (max-width: 600px) {
  .logoDesktop {
    display: none;
  }

  .logoMobile {
    height: 10vh;
    padding: 1%;
    margin-top: 1%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    align-self: flex-start;
  }

  .header {
    font-size: 16px;
  }

  .header_text {
    width: 100%;
  }
}

/* iPhone-X landscape insets */
@supports (padding: max(0%)) {
  .header {
    padding-left: max(10px, env(safe-area-inset-left));
    padding-right: max(10px, env(safe-area-inset-right));
  }
}
