.header {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  background: url(static/img/home/coworking.jpg);
  background-size: cover;
  background-position: center;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
}

.header h1 {
  font-size: 72px;
  text-align: left;
  line-height: 0.95;
  margin: 0;
}

.headerContent {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  color: white;
  width: 960px;
  padding: 20px;
}

.headerText {
  max-width: 570px;
}

.headerContentApply {
  color: #fff;
  font-size: 28px !important;
  font-weight: 900 !important;
  margin-top: 6vh !important;
}

@media (max-width: 600px) {
  .header {
    font-size: 16px;
  }

  .headerContent {
    padding: 50px;
  }

  .header h1 {
    font-size: 56px;
  }
}

/* iPhone-X landscape insets */
@supports (padding: max(0%)) {
  .header {
    padding-left: max(10px, env(safe-area-inset-left));
    padding-right: max(10px, env(safe-area-inset-right));
  }
}
