.header {
  height: 80vh;
  width: 100%;
  justify-content: center;
  align-content: center;
  background-color: rgb(19, 46, 72);
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
  display: table;
}

.logo {
  width: 20em;
  height: auto;
  padding: 1%;
  margin-top: 0;
  margin-bottom: 2%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  align-self: flex-start;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.buttons button {
  margin: 1%;
}

.header_text h3 {
  font-size: 24px;
}

.header_text {
  text-align: center;
  width: 50%;
  color: rgb(255, 255, 255);
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.header_content {
  display: table-cell;
  vertical-align: middle;
}

@media (max-width: 600px) {
  .header {
    font-size: 16px;
  }

  .header_text {
    width: 100%;
  }
}

/* iPhone-X landscape insets */
@supports (padding: max(0%)) {
  .header {
    padding-left: max(10px, env(safe-area-inset-left));
    padding-right: max(10px, env(safe-area-inset-right));
  }
}
