.about {
  padding: 5em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.members {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  max-width: 90rem;
  margin-top: 3rem;
}

.logo {
  margin: 5rem auto;
}

.about_text {
  width: 50%;
  text-align: center;
}

.image_row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 75%;
  max-width: 90rem;
}

.member {
  display: inline;
}

.member img {
  margin: 0;
}

.member h3 {
  margin-bottom: 0;
  text-align: center;
}

.member h5 {
  margin-top: 1%;
  text-align: center;
}

@media (max-width: 920px) {
  .about_text {
    width: 90%;
  }
}
