.about {
  padding: 5em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.members {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  max-width: 90rem;
}
