.leaderSectionContainer {
  display: flex;
  flex-direction: row;
  margin-top: 16px;
}

.contactContainer {
  display: flex;
  flex-direction: row;
  margin-top: 32px;
}

.contactInfo {
  margin-right: 64px;
  padding: 0;
  margin-top: 32px;
  max-width: 127px;
}

.contactInfo > p {
  font-size: 12px;
  font-weight: 300;
}

.contactInfo h4 {
  padding: 0;
  margin: 0;
}

.name {
  color: black;
  font-size: 18px;
  font-weight: bold;
  margin: 4px 0 !important;
}

.title {
  color: black;
  font-weight: lighter;
}

.contactInfo p {
  padding: 0;
  margin: 0;
  color: #a7a6a6;
}

.contactInfo a {
  color: #2e99e4;
  font-weight: 300;
  font-size: 17px;
}

.rolesContainer {
  display: flex;
  flex-direction: column;
  margin-left: 64px;
}

.leaderImage {
  width: 175px;
  height: 175px;
  object-fit: cover;
  border-radius: 100%;
  transition: 0.4s;
}

@media (max-width: 1130px) {
  .rolesContainer {
    margin-left: 0;
  }
}

@media (max-width: 1130px) {
  .leaderSectionContainer {
    flex-direction: column;
    padding: 0 32px;
  }

  .contactContainer {
    justify-content: center;
  }

  .leaderImage {
    transform: scale(0.75);
  }

  .contactInfo {
    margin-right: 24px;
  }
}

@media (max-width: 360px) {
  .leaderSectionContainer {
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
    width: 85%;
  }

  .contactInfo {
    margin-right: 0px;
  }
}

