.header {
  padding-top: var(--header-height);
  height: 20vh;
  background-image: url(static/img/home/background.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.header .header_text {
  font-size: 3rem;
}

.back_button {
  position: absolute;
  top: 10vh;
  left: 0;
  color: white;
  cursor: pointer;
  font-size: 2rem;
  margin: 0.5rem;
  padding-left: 4px;
  padding-right: 4px;
  z-index: 10;
}

.back_button:hover {
  color: grey;
  background-color: white;
  border-radius: 0.8rem;
}

.primary {
  color: var(--primary);
}
