/**
 * styles.css
 *
 * App container styles
 */
body {
	font-family: 'Neuzeit S LT';
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'DIN Condensed';
	text-transform: uppercase;
	letter-spacing: 5px;
}

p, li {
	font-size: 14px;
}

.container input {
	font-family: 'Neuzeit S LT';
  display: block;
  border: 1px solid #000;
  padding: 6px;
}

.container select {
	font-family: 'Neuzeit S LT';
  display: block;
}

select:focus {
  outline: none;
}

select:hover {
  cursor: pointer;
}

input:focus {
  outline: none;
}

:global .input-label {
  font-size: 12px;
  padding-top: 10px;
  padding-bottom: 3px;
}

:global .btn-default {
	font-family: 'DIN Condensed';
	letter-spacing: 3px;
  text-transform: uppercase;
  background-color: #38383f;
  color: #fff;
  line-height: 40px;
  height: 35px;
  padding: 0 24px;
  transition: background-color 0.2s;
  cursor: pointer;
}
:global .btn-bright {
	font-family: 'DIN Condensed';
	letter-spacing: 3px;
  text-transform: uppercase;
  background-color: #90ce9c;
  color: #fff;
  line-height: 40px;
  height: 35px;
  padding: 0 24px;
  transition: background-color 0.2s;
  cursor: pointer;
}
:global .btn-gold {
	font-family: 'DIN Condensed';
	letter-spacing: 3px;
  text-transform: uppercase;
  background-color: #FFDAAB;
  color: #A4A2A6;
  line-height: 40px;
  height: 35px;
  padding: 0 24px;
  transition: background-color 0.2s;
  cursor: pointer;
}

:global .button-wrapper {
  margin: 20px;
  display: flex;
  justify-content: center;
}

:global .center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.container {
  display: block;
}

/* This stylesheet generated by Transfonter (http://transfonter.org) on October 8, 2016 1:08 PM */

@font-face {
  font-family: 'DIN Condensed';
  src: url("../../static/fonts/DINCondensed-Bold.eot");
  src: url("../../static/fonts/DINCondensed-Bold.eot?#iefix") format("embedded-opentype"), url("../../static/fonts/DINCondensed-Bold.woff2") format("woff2"), url("../../static/fonts/DINCondensed-Bold.woff") format("woff"), url("../../static/fonts/DINCondensed-Bold.ttf") format("truetype"), url("../../static/fonts/DINCondensed-Bold.svg#DINCondensed-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Neuzeit S LT';
  src: url("../../static/fonts/NeuzeitSLT-BookHeavy.eot");
  src: url("../../static/fonts/NeuzeitSLT-BookHeavy.eot?#iefix") format("embedded-opentype"), url("../../static/fonts/NeuzeitSLT-BookHeavy.woff2") format("woff2"), url("../../static/fonts/NeuzeitSLT-BookHeavy.woff") format("woff"), url("../../static/fonts/NeuzeitSLT-BookHeavy.ttf") format("truetype"), url("../../static/fonts/NeuzeitSLT-BookHeavy.svg#NeuzeitSLT-BookHeavy") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Neuzeit S LT';
  src: url("../../static/fonts/NeuzeitSLT-Book.eot");
  src: url("../../static/fonts/NeuzeitSLT-Book.eot?#iefix") format("embedded-opentype"), url("../../static/fonts/NeuzeitSLT-Book.woff2") format("woff2"), url("../../static/fonts/NeuzeitSLT-Book.woff") format("woff"), url("../../static/fonts/NeuzeitSLT-Book.ttf") format("truetype"), url("../../static/fonts/NeuzeitSLT-Book.svg#NeuzeitSLT-Book") format("svg");
  font-weight: normal;
  font-style: normal;
}
