.contact {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: var(--primary-light);
  padding-bottom: 70px;
  color: var(--primary-dark);
}

.contact > div:first-child {
  max-width: 485px;
  text-align: center;
  padding: 0 20px;
}

.contactInfo {
  display: flex;
  margin-top: 30px;
  align-items: center;
  text-align: left;
  padding: 0 20px;
}

.contact a {
  text-decoration: none;
  color: var(--primary-dark);
}

.contact a:hover {
  text-decoration: underline;
}

@media (max-width: 300px) {  
  .contactInfo img {
    display: none;
  }

  .contactInfo div {
    text-align: center;
  }
}