.contact {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('static/img/flower-pattern-1.svg');
  padding: 120px;
  color: #F7DDC9;
}

.contact > div:first-child {
  max-width: 600px;
  text-align: center;
}

.contactInfo {
  display: flex;
  margin-top: 30px;
  align-items: center;
  text-align: left;
}

.contact a {
  text-decoration: none;
  color: white;
}

.contact a:hover {
  text-decoration: underline;
}

.contact > div > img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 100%;
  margin-right: 60px;
}
