.user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 5rem 0;
  background: #f7ddc9;
}

.content {
  background: #fff;
  width: 90%;
  max-width: 30rem;
  padding: 1rem 3rem 1rem;
  display: flex;
  flex-direction: column;
}

.header {
  text-align: center;
}

.status {
  text-align: center;
}

.picture {
  margin: 1rem auto 3rem;
}

.resumeButton {
  margin-top: 0;
}
