.user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding-top: var(--header-height);
  background-image: linear-gradient(9deg, var(--primary-dark), var(--primary));
}

.content {
  background: #fff;
  width: 90%;
  max-width: 30rem;
  padding: 1rem 3rem 1rem;
  display: flex;
  flex-direction: column;
}

.header {
  text-align: center;
}

.status {
  text-align: center;
}

.picture {
  margin: 0 auto 3rem;
}

.resumeButton {
  margin-top: 0;
}
