.user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 5rem 0;
  background: #F7DDC9;
}

.content {
  background: #FFF;
  width: 90%;
  max-width: 30rem;
  padding: 1rem 3rem 2rem;
}

.header {
  text-align: center;
}

.status {
  text-align: center;
}
