.footer {
  margin: 0;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 2rem;
}

.content {
  max-width: 900px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  align-self: center;
  align-items: center;
  padding-top: 2.5%;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0;
  min-width: 14rem;
  width: 272px;
  box-sizing: border-box;
  padding-left: 20px;
}

.menu p {
  font-size: 18px;
  margin-top: 0;
  max-width: 220px;
}

.subfooter {
  flex: 1 1 100%;
  width: 100%;
  max-width: 60rem;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  padding: 1rem 0;
}

.logo {
  margin-bottom: 1rem;
  width: 8em;
}

.navigation {
  display: flex;
}

.navigation h4 {
  margin: 0.25rem 0;
}

.navigation a ~ a {
  margin-left: 1rem;
}

.navigation a {
  color: black;
  font-weight: bold;
  border-bottom: 2px solid transparent;
}

.navigation a:hover {
  border-bottom: 2px solid #000;
}

.social svg {
  fill: transparent;
}

.social svg:hover {
  transition: 0.7s ease;
  transform: scale(1.2);
}

.social svg {
  transition: 0.7s ease;
}

.social a ~ a {
  margin-left: 1rem;
}

.copyright {
  color: #626262;
}

.contact {
  display: flex;
  justify-content: left;
  flex: 0;
  flex-wrap: wrap;
  min-width: 17rem;
  box-sizing: border-box;
}

.section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contactHeader {
  margin: 0 auto 0.5rem;
  height: 33px;
  font-family: Chivo;
  font-size: 28px;
}

.contact a {
  border-bottom: 1px solid black;
}

.pictures {
  display: flex;
  margin: 1rem auto;
  height: 120px;
}

/* Won't need this later */
.pictures > img {
  background-color: grey;
  margin-left: 10px;
  margin-right: 10px;
  outline: none !important;
}

.contact p {
  margin: 0;
  text-align: left;
  line-height: normal;
}

@media (max-width: 920px) {
  .content {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-direction: column;
    text-align: center;
    order: 3;
    padding-left: 0;
  }

  .pictures {
    order: 2;
    margin-top: 30px;
  }

  .contact,
  .contact p {
    text-align: center;
    width: 100%;
    justify-content: center;
  }

  .contact {
    align-self: center;
  }
}
