.publicEvent {
  display: flex;
  flex-direction: column;
  line-height: 1.8;
  justify-content: center;
  padding: 0 8%;
}

@media (max-width: 400px) {
  .publicEvent:first-child {
    margin-top: -85px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

.header h1 {
  font-size: 50px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.padder {
  flex: 0.2;
}

.description {
  flex: 1;
  text-align: justify;
}

.description > p:first-child {
  margin-top: 0;
}

.pictures {
  flex: 1;
}

.pictures > img:first-child {
  padding-top: 0;
}

.pictures img {
  min-width: 300px;
  max-width: 100%;
  height: auto;
  padding: 1rem 0;
  object-fit: contain;
}

.date {
  color: #a4a2a6;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

@media (max-width: 400px) {
  .padder {
    display: none;
  }

  .date {
    display: none;
  }

  .header {
    justify-content: center;
  }

  .content {
    flex-direction: row-reverse;
  }
}
