.memberListItem {
  display: flex;
  justify-content: left;
  align-items: center;
  color: black;
  height: 100%;
  width: 100%;
  padding-left: 10px;
}

/* iPhone-X landscape insets */
@supports (padding: max(0%)) {
  .memberListItem {
    padding-left: max(10px, env(safe-area-inset-left));
  }
}

.container {
  height: 40px;
  width: 100%;
}

.container a {
  text-decoration: none;
}

.memberListItem:hover {
  background-color: #6D6B6E;
  color: white;
}
