.memberListItem {
  display: flex;
  justify-content: left;
  align-items: center;
  color: black;
  height: 100%;
  width: 100%;
  padding-left: 10px;
}

/* iPhone-X landscape insets */
@media only screen
  and (device-width: 375px)
  and (device-height: 812px)
  and (-webkit-device-pixel-ratio: 3)
  and (orientation: landscape) {
  .memberListItem {
    /* stylelint-disable */
    padding-left: constant(safe-area-inset-left);
    padding-left: env(safe-area-inset-left);
    /* stylelint-enable */
  }
}

.container {
  height: 40px;
  width: 100%;
}

.container a {
  text-decoration: none;
}

.memberListItem:hover {
  background-color: #6D6B6E;
  color: white;
}
