.cvEdit {
  padding-top: 46px;
}

/* iPhone X landscape insets */
@media only screen
  and (device-width: 375px)
  and (device-height: 812px)
  and (-webkit-device-pixel-ratio: 3)
  and (orientation: landscape) {
  .cvEdit {
    /* stylelint-disable */
    padding-left: constant(safe-area-inset-left);
    padding-right: constant(safe-area-inset-left);
    padding-bottom: constant(safe-area-inset-bottom);
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-left);
    padding-bottom: env(safe-area-inset-bottom);
    /* stylelint-enable */
  }
}

.cvAction {
  /*text-transform: uppercase;*/
  /*font-weight: 700;*/
  cursor: pointer;
  /*font-size: 14px;*/
}

.addSection {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.removeSection {
  margin-top: 20px;
  float: right;
}

.addItem {
  width: 100%;
  display: flex;
  flex-wrap: wrap-reverse;
  padding-bottom: 20px;
  justify-content: flex-end;
}

.saveStatus {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 20px;
  width: auto !important;
}
