.cvEdit { /* stylelint-disable */
  padding-top: 46px;
}

.cvAction {
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  font-size: 14px;
}

.addSection {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.removeSection {
  margin-top: 20px;
  float: right;
}

.addItem {
  width: 100%;
  display: flex;
  flex-wrap: wrap-reverse;
  padding-bottom: 20px;
  justify-content: flex-end;
}

.saveStatus {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 20px;
  width: auto !important;
}
