.cvEdit {
  padding: 6rem 2rem;
  background: #F7DDC9;
}

/* iPhone X landscape insets */
@media only screen
  and (device-width: 375px)
  and (device-height: 812px)
  and (-webkit-device-pixel-ratio: 3)
  and (orientation: landscape) {
  .cvEdit {
    /* stylelint-disable */
    padding-left: constant(safe-area-inset-left);
    padding-right: constant(safe-area-inset-left);
    padding-bottom: constant(safe-area-inset-bottom);
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-left);
    padding-bottom: env(safe-area-inset-bottom);
    /* stylelint-enable */
  }
}

.cvAction {
  cursor: pointer;
  align-self: flex-start;
}

.sectionHeader {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.addSection {
  display: flex;
  justify-content: center;
}

.removeSection {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.removeItem {
  flex: 3;
  display: flex;
  justify-content: flex-end;
}

.saveStatus {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 20px;
  width: auto !important;
}
