.footer {
  margin: 0;
  background: #e5ecf1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 2rem;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 3rem 0 0;
  flex: 1 1 100%;
  flex-wrap: wrap;
  align-self: center;
  width: 100%;
  max-width: 60rem;
}

@media (max-width: 900px) {
  .content {
    flex-direction: column;
  }

  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-direction: column;
    order: 2;
    margin-top: 2rem;
  }
}

@media (max-width: 700px) {
  .contact {
    width: 100%;
    justify-content: center;
  }

  .subfooter {
    flex-direction: column-reverse;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.subfooter {
  flex: 1 1 100%;
  width: 100%;
  max-width: 60rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  padding: 1rem 0;
  margin-top: 3rem;
}

.logo {
  margin-bottom: 1rem;
}

.navigation {
  display: flex;
}

.navigation h4 {
  margin: 0.25rem 0;
}

.navigation a ~ a {
  margin-left: 1rem;
}

.navigation a {
  color: black;
  font-weight: bold;
}

.navigation a:hover {
  border-bottom: 2px solid #000;
}

.social svg {
  fill: transparent;
}

.social svg:hover {
  transition: 0.7s ease;
  transform: scale(1.2);
}

.social svg {
  transition: 0.7s ease;
}

.social a ~ a {
  margin-left: 1rem;
}

.copyright {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}

.contact {
  display: flex;
  justify-content: center;
  flex: 1;
  flex-wrap: wrap;
  width: 100%;
}

.section {
  margin: 0 1rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contactHeader {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 auto 0.5rem;
  text-align: center;
}

.contact a {
  border-bottom: 1px solid black;
}

.pictures {
  margin: 1rem auto;
}

/* Won't need this later */
.pictures > img {
  background-color: grey;
}

.contactPicture ~ .contactPicture {
  margin-left: 1rem;
}

.contact p {
  margin: 0.25rem 0;
  text-align: center;
}
