.eventDetail {
  padding: 10px 30px 30px 30px;
  height: 100%;
  overflow: auto;
}

.head {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.head > h2 {
  margin-top: 0;
  letter-spacing: 2px;
}

.head button {
  margin-bottom: 12px;
}

.eventDetail hr {
  margin-top: 30px;
  border-color: #eee;
  border-style: solid;
  border-width: 1px 0 0 0;
}

.info h4 {
  margin-top: 0;
  letter-spacing: 2px;
  color: #ffdaab;
}

.info {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--primary-dark);
  color: white;
}

.info > div {
  font-size: 14px;
  flex: 1;
  padding: 30px;
  min-width: 140px;
}

.eventDetail a {
  text-decoration: underline;
}

.buttonRow a,
.buttonRow button {
  display: inline-block;
}

.surveys {
  display: flex;
  flex-wrap: wrap;
}

.surveys > div {
  flex: 1;
}
