.events {
  padding-top: var(--header-height);
  height: 100vh;
}

.actions {
  height: 46px;
  background-color: var(--primary-dark);
  padding-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.events a {
  text-decoration: none;
}

.actions a {
  color: white;
  padding-right: 1em;
  text-transform: uppercase;
}

.actions a:hover {
  color: #90ce9c;
}

.list {
  flex: 1;
  overflow: auto;
}

.listHeader {
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-weight: bold;
  border-bottom: 1px solid #eee;
  font-size: 12px;
  height: 40px;
  align-items: center;
  background-color: var(--primary);
}

.listContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
}
