.publicEventMenu { /* stylelint-disable */
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 10;
  width: 200px;
}

.publicEventMenu > h2 {
  font-size: 16px;
  letter-spacing: 4px;
  text-align: right;
}

.publicEventMenu a {
  text-align: right;
  cursor: pointer;
  color: #A4A2A6;
}

.active {
  color: #ffdaab !important;
  font-weight: 600;
  /*color: #90CE9C !important;*/
}


@media (max-width: 1400px) {
  .publicEventMenu {
    position: inherit;
    text-align: center;
    padding-bottom: 46px;
    width: auto;
  }
  .publicEventMenu > h2 {
    font-size: 28px;
    text-align: center;
  }
  .publicEventMenu a {
    text-align: center;
  }
}
