.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  color: white;
  top: 0;
  width: 100%;
  padding: 1em 2em;
  z-index: 1;
  background: rgba(0, 0, 0, 0.4);
}

/* iPhone-X landscape insets */
@media only screen
  and (device-width: 375px)
  and (device-height: 812px)
  and (-webkit-device-pixel-ratio: 3)
  and (orientation: landscape) {
  .navbar {
    /* stylelint-disable */
    padding-left: constant(safe-area-inset-left);
    padding-right: constant(safe-area-inset-right);
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
    /* stylelint-enable */
  }
}

.navbarLogo {
  color: white;
  fill: white;
  height: 20px;
  width: 60px;
}

.navbarMenu {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding-left: 20px;
}

.navbarMenu > li {
  padding-right: 1em;
}

.navbarMenu a {
  color: white;
  text-decoration: none;
}

.navbarMenu a:hover {
  color: #F7DDC9;
  border-bottom: 1px solid #F7DDC9;
}

.background {
  background: white;
  color: black;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.19);
  transition: 0.3s;
}

.background a {
  color: black;
}

.control > img {
  display: none;
  cursor: pointer;
}

.control {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.collapse {
  display: flex;
  align-items: center;
}

@media (max-width: 599px) {
  .navbar {
    flex-direction: column;
  }

  .collapsed {
    display: none;
  }

  .collapse {
    flex-direction: column;
    padding: 10px 0;
  }

  .navbarMenu {
    flex-direction: column;
  }

  .navbarMenu > * {
    padding-bottom: 10px;
  }

  .control {
    width: 100%;
  }

  .control > img {
    display: block;
  }
}

