.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  color: white;
  top: 0;
  width: 100%;
  padding: 1em 2em;
  z-index: 1;
}

/* iPhone-X landscape insets */
@supports (padding: max(0%)) {
  .navbar {
    padding-left: max(2em, env(safe-area-inset-left));
    padding-right: max(2em, env(safe-area-inset-right));
  }
}

.navbarLogo {
  color: white;
  fill: white;
  height: 20px;
  width: 60px;
}

.navbarMenu {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding-left: 20px;
}

.navbarMenu > li {
  padding-right: 1em;
}

.navbarMenu a {
  color: white;
  text-decoration: none;
}

.navbarMenu a:hover {
  color: #F7DDC9;
  border-bottom: 1px solid #F7DDC9;
}

.background {
  background: white;
  color: black;
}

.background a {
  color: black;
}

.control > img {
  display: none;
  cursor: pointer;
}

.control {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.collapse {
  display: flex;
  align-items: center;
}

@media (max-width: 599px) {
  .navbar {
    flex-direction: column;
  }

  .collapsed {
    display: none;
  }

  .collapse {
    flex-direction: column;
    padding: 10px 0;
  }

  .navbarMenu {
    flex-direction: column;
  }

  .navbarMenu > * {
    padding-bottom: 10px;
  }

  .control {
    width: 100%;
  }

  .control > img {
    display: block;
  }
}

