.navbar {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 32px 55px;
  z-index: 1;
  background: none;
  transition: 300ms all;
  height: var(--header-height);
}

.invert {
  color: rgb(255, 255, 255);
}

/* iPhone-X landscape insets */
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
  .navbar {
    /* stylelint-disable */
    padding-left: constant(safe-area-inset-left);
    padding-right: constant(safe-area-inset-right);
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
    /* stylelint-enable */
  }
}

.logoDesktop {
  width: 3em;
}

.logoMobile {
  display: none;
}

.navbarLogo svg {
  height: 46px;
  width: 101px;
}

.navLinks {
  display: flex;
  justify-content: space-between;
}

.navLinks {
  width: 100%;
  font-size: 20px;
}

.navLinks ul {
  list-style-type: none;
}

.navbarMenu {
  display: flex;
  align-items: center;
  margin: 0 0 0 10px;
  padding-left: 20px;
}

.navbarUserMenu {
  display: flex;
  align-items: center;
  margin: 0 0 0 10px;
  padding-left: 20px;
}

.navLinks li:not(:last-child) {
  padding-right: 1em;
}

.navLinks a {
  color: inherit;
  text-decoration: none;
}

.navLinks a:hover {
  border-bottom: 1px solid;
}

.control > img {
  display: none;
  cursor: pointer;
}

.control {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.collapse {
  display: flex;
  align-items: center;
}

@media (max-width: 1024px) {
  .navbar {
    padding: 22px 35px;
  }

  .navLinks {
    font-size: 16px;
  }
}

@media (max-width: 800px) {
  .open.navbar {
    background: var(--primary-dark);
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    position: fixed;
    height: 100vh;
  }

  .navbar {
    display: block;
  }

  .control {
    justify-content: space-between;
  }

  .navbar .collapsed {
    pointer-events: none;
  }

  .navLinks {
    padding-top: 30px;
    font-size: 28px;
    font-family: var(--heading-font);
  }

  .navLinks li:last-child {
    /* Make links centered */
    padding-right: 1em;
  }

  .navbarUserMenu {
    margin-top: 30px;
  }

  .navLinks,
  .navbarMenu,
  .navbarUserMenu {
    flex-direction: column;
  }

  .navbarMenu > *,
  .navbarUserMenu > * {
    padding-bottom: 10px;
  }

  .control {
    width: 100%;
  }

  .control > img {
    display: block;
  }

  .open .navLinks {
    opacity: 1;
    transform: translateY(0px);
    transition: transform 300ms;
  }

  .navLinks {
    opacity: 0;
    transform: translateY(-30px);
  }
}

@media (max-width: 600px) {
  .logoDesktop {
    display: none;
  }

  .logoMobile {
    width: 3em;
    display: block;
  }
}

@media print {
  .navbar {
    display: none;
  }
}
