.button {
  padding: 12px 50px;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 100px;
  transition: background 0.2s, color 0.2s;
  outline: none;
  box-shadow: 0 5px 10px 0 rgba(61, 142, 198, 0.25);
}

.default {
  background: var(--primary-dark);
  color: white;
}

.default:hover {
  color: var(--primary-light);
}

.primary {
  background: var(--primary-dark);
  color: white;
}

.primary:hover {
  color: var(--primary-light);
}

.secondary {
  background: var(--secondary);
  padding: 12px;
  font-size: 12px;
  color: white;
}

.full {
  width: 100%;
  margin: 1rem 0;
}

.white {
  border-style: solid;
  border-width: 2px;
  border-color: white;
  padding: 6px 18px;
  font-size: 10px;
  color: white;
  text-transform: none;
}

.border {
  background: rgb(25, 150, 181);
  color: white;
}

.border:hover {
  color: var(--primary-light);
}

.danger {
  background: #fcf0e8;
  color: #dd696d;
}

.danger:hover {
  background: #dd696d;
  color: #fcf0e8;
}

.bright {
  background: var(--primary);
  border-color: var(--primary-light);
  color: var(--primary-light);
}

.bright:hover {
  background: var(--primary-light);
  color: var(--primary-dark);
}

.dark {
  background: black;
  color: #f7ddc9;
}

.disabled {
  background: #ccc;
  color: #666;
  pointer-events: none;
}

.gold {
  background: rgba(255, 255, 255, 0.1);
  border-style: solid;
  border-width: medium;
  border-color: rgb(250, 200, 130);
  color: rgb(250, 200, 130);
}

.gold:hover {
  border-color: rgb(247, 223, 183);
  color: rgb(247, 223, 183);
}

.icon {
  background: none;
  color: #303b4b;
  padding: 0;
}

.wrapper {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
}

.wrapper:last-child {
  margin-bottom: 0;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
}

.homepage {
  background: white;
  border-radius: 0;
  color: var(--secondary);
  text-transform: none;
  box-shadow: 1px 6px 9px 0 rgba(40, 40, 40, 0.6);
  transition: all 0.2s ease-in-out;
  margin-bottom: 10px;
}

.homepage:hover {
  transform: scale(1.02);
}

.homepage:active {
  transform: scale(1);
}
