.button {
  padding: 12px 50px;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 100px;
  transition: background 0.2s, color 0.2s;
  outline: none;
}

.default {
  background: #303b4b;
  color: white;
}

.default:hover {
  color: #f7ddc9;
}

.primary {
  box-shadow: 0 5px 10px 0 rgba(61, 142, 198, 0.25);
  background-color: var(--primary);
  color: white;
}

.secondary {
  background: none;
  padding: 5px;
  color: var(--primary);
}

.full {
  width: 100%;
  margin: 1rem 0;
}

.danger {
  background: #fcf0e8;
  color: #dd696d;
}

.danger:hover {
  background: #dd696d;
  color: #fcf0e8;
}

.bright {
  background: #f7ddc9;
  color: black;
}

.bright:hover {
  background: black;
  color: #f7ddc9;
}

.dark {
  background: black;
  color: #f7ddc9;
}

.disabled {
  background: #ccc;
  color: #666;
  pointer-events: none;
}

.icon {
  background: none;
  color: #303b4b;
  padding: 0;
}

.wrapper {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
}

.wrapper:last-child {
  margin-bottom: 0;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
}
