/* This file contains declarations for global CSS */
:root {
  --primary: #8ad0d2;
  --primary-dark: #3a7677;
  --primary-light: #b3d4d6;
  --secondary: #f96c6b;
  --gold: rgb(250, 200, 130);

  --heading-font: 'Oswald', sans-serif;
  --subheading-font: 'Oswald', sans-serif;
  --body-font: 'Raleway', sans-serif;

  --header-height: 110px;
}

@media (max-width: 1024px) {
  :root {
    --header-height: 90px;
  }
}

html,
body {
  margin: 0;
  padding: 0;
}

@media print {
  @page {
    size: auto;
    margin: 0;
  }

  body {
    padding: 1.8cm;
  }
}

body {
  font-family: var(--body-font);
  font-size: 16px;
}

#root {
  margin: 0;
  padding: 0;
}

h1 {
  line-height: 1;
}

p,
li {
  line-height: 1.5;
}

h1 {
  font-family: var(--heading-font);
  font-size: 2.5em;
}

h2 {
  font-family: var(--subheading-font);
  font-size: 1.75em;
}

button,
textarea {
  border: none;
}

select:focus {
  outline: none;
}

select:hover {
  cursor: pointer;
}

input:focus {
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
  white-space: nowrap;
}
