/* This file contains declarations for global CSS */
@import url('https://fonts.googleapis.com/css?family=Outfit');
:root {
  --primary: #9ed6b5;
  --primary-dark: #0f4143;
  --primary-light: #f2c166;
  --secondary: rgb(151, 201, 183);
  --gold: rgb(250, 200, 130);
  --heading-font: Gayathri, 'Oswald', sans-serif;
  --subheading-font: Gayathri, 'Oswald', sans-serif;
  --body-font: Roboto, 'Roboto', sans-serif;

  --header-height: 70px;
}

@media (max-width: 1024px) {
  :root {
    --header-height: 70px;
  }
}

html,
body {
  margin: 0;
  padding: 0;
}

@media print {
  @page {
    size: auto;
    margin: 0.8cm;
  }

  body {
    padding: 1cm;
  }
}

body {
  font-family: var(--body-font);
  font-size: 16px;
}

#root {
  margin: 0;
  padding: 0;
}

h1 {
  line-height: 1.5;
}

p,
li {
  line-height: 1.5;
}

h1 {
  font-family: var(--heading-font);
  font-size: 2.5em;
}

h2 {
  font-family: var(--subheading-font);
  font-size: 1.75em;
}

button,
textarea {
  border: none;
}

select:focus {
  outline: none;
}

select:hover {
  cursor: pointer;
}

input:focus {
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
  white-space: nowrap;
}

@font-face {
  font-family: 'MagnatItalic';
  src: local('MagnatItalic'),
    url(./static/fonts/magnat/MagnatHead-SemiBoldItalic.otf) format('truetype');
}

@font-face {
  font-family: 'Magnat';
  src: local('Magnat'),
    url(./static/fonts/magnat/MagnatHead-SemiBold.otf) format('truetype');
}

@font-face {
  font-family: 'Raleway';
  src: local('Raleway'),
    url(./static/fonts/Raleway/Raleway-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Gayathri';
  src: local('Gayathri'),
    url(./static/fonts/Gayathri/Gayathri-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'),
    url(./static/fonts/Roboto/Roboto-Light.ttf) format('truetype');
}
