.localeToggle {
  float: right;
}

.localeToggleLink {
  text-transform: uppercase;
  color: #90CE9C;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-right: 1px solid #90CE9C;
  font-size: 14px;
  cursor: pointer;
}

.localeToggleLink:first-child {
  padding-left: 0;
}

.localeToggleLink:last-child {
  border: 0;
  padding-right: 0;
}
