.public_event_menu {
  position: sticky;
  top: 0;
  width: 200px;
  height: 100vh;
  overflow-y: scroll;
  background: var(--secondary);
  color: white;
}

.public_event_menu > span {
  text-decoration: underline;
  font-size: 18px;
  display: block;
  padding: 0 0 8px 28px;
  margin-top: 10px;
}

.links {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.links > div {
  padding: 4px 0;
}

.links icon {
  padding: 0 10px;
  visibility: hidden;
}

.links a {
  margin: 0.5rem 0;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.active icon {
  visibility: visible;
}

@media (max-width: 900px) {
  .public_event_menu {
    position: inherit;
    text-align: center;
    padding-left: 0;
    padding-bottom: 46px;
    width: auto;
    height: auto;
  }

  .public_event_menu > span {
    font-size: 28px;
    text-align: center;
  }

  .public_event_menu a {
    text-align: center;
  }
}
