.public_event_menu {
  position: sticky;
  top: 0;
  width: 200px;
  height: 100vh;
  overflow-y: scroll;
  background: var(--secondary);
  color: white;
  transition: height 0.05s ease-out;
}

.close {
  display: none;
  position: relative;
  justify-content: flex-end;
}

.close > img {
  position: absolute;
  left: 0;
  width: 40px;
  margin: 15px;
}

.public_event_menu > span {
  text-decoration: underline;
  font-size: 18px;
  display: block;
  padding: 5px 0 8px 17px;
  margin-top: 10px;
}

.links {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.links > div {
  padding: 4px 0;
}

.links span {
  padding: 0 5px;
  visibility: hidden;
}

.links a {
  margin: 0.5rem 0;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.active span {
  visibility: visible;
}

@media (max-width: 400px) {
  .public_event_menu {
    text-align: center;
    padding-left: 0;
    padding-bottom: 46px;
    width: 100%;
    height: 80vh;
  }

  .public_event_menu > span {
    font-size: 20px;
    text-align: center;
  }

  .public_event_menu a {
    text-align: center;
  }

  .close {
    display: block;
  }
}

.collapsed {
  content: url(static/img_new/icons/icon_menu.svg);
  width: 60px;
  height: 60px;
  border-radius: 100%;
  margin-top: 15px;
  margin-left: 15px;
  padding: 12px;
}
