.publicEventMenu {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 10;
  width: 200px;
  background: #F7DDC9;
  height: 100%;
  padding-left: 1.5rem;
  padding-top: 3rem;
  overflow-y: auto;
}

.publicEventMenu > h2 {
  font-size: 16px;
}

.links {
  display: flex;
  flex-direction: column;
}

.links a {
  font-size: 14px;
  margin: 0.5rem 0;
  cursor: pointer;
  color: #000;
}

.active {
  font-weight: 600;
  color: #dd696d !important;
}

@media (max-width: 1200px) {
  .publicEventMenu {
    position: inherit;
    text-align: center;
    padding-left: 0;
    padding-bottom: 46px;
    width: auto;
  }
  .publicEventMenu > h2 {
    font-size: 28px;
    text-align: center;
  }
  .publicEventMenu a {
    text-align: center;
  }
}
