.publicEventMenu {
  position: sticky;
  top: 0;
  width: 200px;
  height: 100vh;
  padding-left: 1.5rem;
  padding-top: 20px;
  margin-top: calc(var(--header-height) - 20px);
  overflow-y: scroll;
}

.publicEventMenu > h2 {
  font-size: 16px;
}

.links {
  display: flex;
  flex-direction: column;
}

.links a {
  font-size: 14px;
  margin: 0.5rem 0;
  cursor: pointer;
  color: #000;
}

.active {
  font-weight: 600;
  color: #dd696d !important;
}

@media (max-width: 1200px) {
  .publicEventMenu {
    position: inherit;
    text-align: center;
    padding-left: 0;
    padding-bottom: 46px;
    width: auto;
    height: auto;
  }

  .publicEventMenu > h2 {
    font-size: 28px;
    text-align: center;
  }

  .publicEventMenu a {
    text-align: center;
  }
}
