.content {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sales_tool_title {
  padding-top: var(--header-height);
  height: 20vh;
  background-image: url(static/img_new/home/background.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.top_buttons {
  margin: 10px 0;
}

.top_buttons button {
  margin: 0 10px;
}

.filter {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 1rem;
  padding-top: 15px;
}

.filter_input {
  margin-right: 0.5rem;
  width: 20%;
}

.filter_input > div {
  margin-top: 5px;
}

.filter_input > div > div > div:first-child {
  height: unset;
  padding: 10px;
}

.filter_input > div > div > div:first-child > span > span {
  font-size: 12px;
}

.number_of_companies {
  margin-bottom: 1rem;
}

.add_new_container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  padding: 1rem;
}

.add_new_text_input {
  width: 100%;
  text-align: left;
}

.body {
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
}

@media (max-width: 600px) {
  .body {
    padding-left: 3%;
    padding-right: 3%;
  }
  .filter {
    padding-left: 3%;
    padding-right: 3%;
  }

  .filter_input {
    width: 30%;
  }
}

.company_list {
  margin-bottom: 1rem;
}

.list_header {
  display: flex;
  background: var(--primary-dark);
  color: white;
  padding: 0.75rem;
}

.list_header > div {
  flex: 1;
}

.list_item {
  display: flex;
}

.list_item > div {
  flex: 1;
  padding: 0.75rem;
}

.company_list > div:nth-of-type(even) {
  background-color: rgba(0, 0, 0, 0.05);
}

.company_link {
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.company_link:hover {
  font-weight: 800;
  text-decoration: underline;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.company_details_body {
  background-color: white;
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.company_details {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.select_input {
  margin-right: 0.5rem;
  text-align: left;
}

.contact_comment_container {
  width: 100%;
  padding-right: 5%;
  padding-left: 5%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 2rem;
}

.contact_container {
  height: 100%;
  flex: 1;
}

.contact_header {
  font-size: 1.3rem;
  margin-bottom: 0.8rem;
}

.comments_container {
  flex: 3;
  margin-left: 2rem;
}

.small_button {
  padding: 10px 30px;
  font-size: 0.7rem;
}

.hr {
  width: 80%;
  margin-top: 5%;
  margin-bottom: 5%;
}
