.events_title {
  padding-top: var(--header-height);
  height: 30vh;
  background-image: url(static/img_new/home/background.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.public_events {
  display: flex;
}

.event_list {
  display: flex;
  flex-direction: column;
  flex: 4;
  justify-content: center;
  padding-bottom: 3rem;
}

.divider {
  width: 100%;
  background-image: linear-gradient(
      to right,
      white,
      3%,
      white,
      15%,
      transparent
    ),
    url(static/img_new/home/background.png);
  background-position: center;
  background-repeat: repeat-x;
  background-clip: content-box;
  height: 8px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 30px;
}

.spinner {
  padding: 20px;
  height: 70vh;
}

@media (max-width: 600px) {
  .public_events {
    flex-direction: column;
  }
}

@media (max-width: 900px) and (orientation: landscape) {
  .events_title {
    height: 40vh;
  }
}
