.cv { /* stylelint-disable */
  padding: 25px 25px;
  display: flex;
  justify-content: center;
  height: 100%;
  overflow: auto;
}

.cv > div {
  max-width: 750px;
}

.section > h2 {
  margin-left: 250px;
  border-bottom: 3px solid;
  display: inline-block;
}

.section > input {
  display: inline-block;
	font-family: 'DIN Condensed';
	text-transform: uppercase;
	letter-spacing: 5px;
  border: none;
  font-size: 1.5em;
  padding: 0;
  width: 300px;
  margin-left: 250px;
  border-bottom: 3px solid;
  margin-bottom: 20px;
  margin-top: 20px;
  resize: none;
}

.section > button {
  align-self: flex-end;
}

.section textarea:focus {
  outline: none;
  background-color: #fafafa;
}

.item {
  display: flex;
  font-size: 12px;
  flex-wrap: wrap;
}

.item textarea {
  height: 100%;
  width: 100%;
  resize: none;
  font: inherit;
}

.item textarea:focus {
  outline: none;
  background-color: #fafafa;
}

.when {
  width: 100px;
  font-size: 14px;
  font-weight: 700;
  padding-bottom: 10px;
  text-align: right;
}

.where {
  min-width: 100px;
  width: 150px;
  padding-left: 20px;
  padding-right: 10px;
}

.description {
  flex: 2;
  min-width: 300px;
  white-space: pre-line;
  padding-bottom: 10px;
}

@media (max-width: 899px) {
  .section > h2 {
    margin-left: 0;
  }

  .section input {
    margin-left: 0;
  }

  .where {
    flex: 2;
  }

  .when {
    text-align: left;
  }
}
