.cv {
  padding: 25px;
  display: flex;
  justify-content: center;
  height: 100%;
  overflow: auto;

  /* iPhone-X bottom insets */
  padding-bottom: env(safe-area-inset-bottom);
}

/* iPhone-X landscape insets */
@supports (padding: max(0%)) {
  .cv {
    padding-right: max(25px, env(safe-area-inset-right));
  }
}

.cv > div {
  width: 100%;
  max-width: 960px;
}

.section {
  position: relative;
}

.section > h2 {
  margin-left: 33.33%;
  border-bottom: 3px solid;
  display: inline-block;
}

.section > input {
  display: inline-block;
  font-family: 'DIN Condensed';
  text-transform: uppercase;
  letter-spacing: 5px;
  border: none;
  font-size: 1.5em;
  padding: 0;
  width: 300px;
  margin-left: 33.33%;
  border-bottom: 3px solid;
  margin-bottom: 20px;
  margin-top: 20px;
  resize: none;
}

.section > button {
  align-self: flex-end;
}

.section textarea:focus {
  outline: none;
  background-color: #FAFAFA;
}

.item {
  display: flex;
  font-size: 12px;
  flex-wrap: wrap;
  position: relative;
  padding: 15px 0;
}

.item textarea {
  height: 100%;
  width: 100%;
  padding: 0;
  resize: none;
  font: inherit;
  display: flex;
  flex-direction: row;
}

.item textarea:focus {
  outline: none;
  background-color: #FAFAFA;
}

.item::after {
  content: '';
  clear: both;
  display: table;
}

.divider {
  width: 5px;
  background-image: url(../../static/img/gold-dot.svg);
  background-position: center;
  background-repeat: repeat-y;
  background-clip: content-box;
  height: 100%;
}

.arrows {
  display: flex;
  flex-direction: column;
}

.arrows button {
  cursor: pointer;
  outline: 0;
}

/* A bad solution for compensating for "fill: currentColor" in sanitize.css */
.arrows svg {
  fill: transparent;
}

.arrows .arrowDisabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.meta {
  width: 33.33%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.when {
  width: 33.33%;
  font-size: 14px;
  font-weight: 700;
  text-align: right;
  padding-right: 15px;
  height: 100%;
}

.when textarea {
  text-align: right;
  height: 100%;
  overflow: hidden;
}

.where {
  float: right;
  width: 66.66%;
  padding-left: 15px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.where > *:first-child {
  font-weight: 700;
}

.description {
  flex: 2;
  width: 66.66%;
  white-space: pre-line;
  padding-bottom: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
}

.contactWrapper {
  display: flex;
}

.contact {
  align-self: center;
  font-size: 12px;
  padding: 0 20px;
  flex: 2;
}

.logo {
  margin-bottom: 20px;
  align-self: top;
}

.logo > img {
  height: 50px;
}

@media (max-width: 899px) {
  .section > h2 {
    margin-left: 0;
  }

  .section input {
    margin-left: 0;
  }

  .where {
    flex: 2;
  }

  .when {
    text-align: left;
  }
}
