.cv {
  padding: 6rem 2rem;
  display: flex;
  justify-content: center;
  height: 100%;
  overflow: auto;

  /* iPhone-X bottom insets */
  padding-bottom: env(safe-area-inset-bottom);
}

/* iPhone X landscape insets */
@media only screen
  and (device-width: 375px)
  and (device-height: 812px)
  and (-webkit-device-pixel-ratio: 3)
  and (orientation: landscape) {
  .cv {
    /* stylelint-disable */
    padding-right: constant(safe-area-inset-right);
    padding-right: env(safe-area-inset-right);
    /* stylelint-enable */
  }
}

.cv > div {
  width: 100%;
  max-width: 960px;
}

.section {
  margin-top: 3rem;
  padding-bottom: 1rem;
  background: #FFF;
}

.section > h2 {
  border-bottom: 3px solid;
  text-transform: capitalize;
}

.section .sectionInput {
  font-weight: bold;
  border: none;
  font-size: 1.25rem;
  padding: 0.25rem;
  border-bottom: 3px solid;
  align-self: center;
  justify-self: center;
  resize: none;
  flex: 4;
}

.section > button {
  align-self: flex-end;
}

.section input:focus {
  outline: none;
  background-color: #FAFAFA;
}

.section textarea:focus {
  outline: none;
  background-color: #FAFAFA;
}

.item {
  display: flex;
  font-size: 12px;
  flex-wrap: wrap;
  position: relative;
  padding: 1rem;
  background: #FFF;
}

.item textarea {
  height: 100%;
  width: 100%;
  padding: 0;
  resize: none;
  font: inherit;
  display: flex;
  flex-direction: row;
}

.item textarea:focus {
  outline: none;
  background-color: #FAFAFA;
}

.item::after {
  content: '';
  clear: both;
  display: table;
}

.divider {
  width: 5px;
  background-image: url(../../static/img/gold-dot.svg);
  background-position: center;
  background-repeat: repeat-y;
  background-clip: content-box;
  height: 100%;
}

.arrows {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.arrows button {
  cursor: pointer;
  outline: 0;
}

/* A bad solution for compensating for "fill: currentColor" in sanitize.css */
.arrows svg {
  fill: transparent;
}

.arrows .arrowDisabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.meta {
  flex: 5;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.when {
  flex: 2;
  font-size: 14px;
  font-weight: 700;
  text-align: right;
  padding-right: 15px;
  height: 100%;
}

.when textarea {
  text-align: right;
  height: 100%;
  overflow: hidden;
}

.where {
  flex: 4;
  padding-left: 15px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.where > *:first-child {
  font-weight: 700;
}

.description {
  flex: 8;
  white-space: pre-line;
}

.description textarea {
  padding: 8px;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
}

.contactWrapper {
  display: flex;
}

.contact {
  align-self: center;
  font-size: 12px;
  padding: 0 20px;
  flex: 2;
}

.logo {
  margin-bottom: 20px;
  align-self: top;
}

.logo > img {
  height: 50px;
}

@media (max-width: 899px) {
  .section > h2 {
    margin-left: 0;
  }

  .section input {
    margin-left: 0;
  }

  .where {
    flex: 2;
  }

  .when {
    text-align: left;
  }

  .item {
    flex-direction: column;
  }

  .section .sectionInput {
    flex: 1;
  }
}
