.content {
  background-image: url(static/img_new/home/background.png);
  /* background-size: 100% 80vh; */

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 40px;
}

/* @media (max-width: 1600px) {
  .content {
    background-size: 2376px 1314px;
    background-position-x: calc(-1 * ((2376px - 100vw) / 2));
  }
} */

.card {
  background-color: var(--primary);
  padding: 20px;
  height: 70vh;
  margin-top: 300px;
  margin-bottom: 50px;
  box-shadow: #00000082 0px 9px 15px 3px;
  opacity: 0.9;
  display: flex;
  flex-wrap: wrap;
}

.card:nth-child(2) {
  margin-top: 0;
}

.card:nth-child(odd) {
  background-color: var(--secondary);
  flex-direction: row-reverse;
}

.info {
  flex: 1;
  padding: 15px;
}

.paragraph {
  color: white;
  font-size: 18px;
}

.title_container {
  display: flex;
  align-items: center;
  color: white;
}

.logo {
  margin-right: 10px;
}

.slideshow {
  flex: 1;
  padding: 15px;
  width: 50%;
  display: flex;
  position: relative;
  align-items: center;
}

.slideshow > div > div > div:nth-child(2) {
  overflow: hidden;
}
.slideshow > div > div > div:nth-child(2) > div {
  display: flex;
}

.each_slide > div {
  background-size: cover;
  height: 50vh;
}

.arrow {
  width: 5%;
  color: white;
  text-align: center;
}

.arrow > div {
  padding: 5px;
  cursor: pointer;
}

.slide {
  width: 89.5%;
}

.indicators {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
}

.dot {
  background: grey;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin: 10px;
}

.active_dot {
  background: white;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin: 10px;
}

.sales_contact {
  background: inherit !important;
}
