.recruitmentFooter {
  margin-top: 32px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 32px;
}

.buttonContainer button {
  background-color: #42ceb8;
  border-radius: 30px;
  margin-left: 16px;
  padding: 19px 40px;
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  font-weight: 700;
  text-transform: uppercase;
  outline: none;
  transition: all 0.7s;
  box-shadow: 0 2px 3px rgba(0, 0, 0, .06);
}

.buttonContainer > p {
  font-size: 22px;
  color: #42ceb8;
  font-weight: 900;
}

.buttonContainer button:hover {
  transform: scale(0.90);
}

@media (min-width: 1250px) {
  .buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 360px) {
  .buttonContainer > p {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.applicationInfo {
  margin-top: 19px;
}

.period {
  font-size: 16px;
  font-weight: normal;
  line-height: 0.3;
}

.interviewInfo {
  font-size: 16px;
  font-weight: lighter;
  line-height: 0.3;
}

.intro {
  font-size: 22px;
  font-weight: 300;
  color: #000;
}
