.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  background-image: linear-gradient(9deg, #305b7a, #07253b);
}

.form {
  background: #fff;
  width: 90%;
  max-width: 30rem;
  padding: 1rem 3rem 2rem;
}

.header {
  text-align: center;
}
