.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
}

.contactWrapper {
  display: flex;
}

.contact {
  align-self: center;
  font-size: 12px;
  flex: 2;
}

.contact a {
  text-decoration: underline;
}

.social svg {
  fill: transparent;
}

.social svg:hover {
  transition: 0.7s ease;
  transform: scale(1.2);
}

.social svg {
  transition: 0.7s ease;
}

.social a ~ a {
  margin-left: 1rem;
}
