.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
}

.contactWrapper {
  display: flex;
}

.contact {
  align-self: center;
  font-size: 12px;
  padding: 0 20px;
  flex: 2;
}

.logo {
  margin-bottom: 20px;
  align-self: top;
}

.logo > img {
  height: 50px;
}

a {
  text-decoration: underline;
}
