.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
}

.contactWrapper {
  display: flex;
}

.contact {
  align-self: center;
  font-size: 12px;
  flex: 2;
}

.contact a {
  text-decoration: underline;
}
