.header {
  position: relative;
  min-height: 800px;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.headerContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  text-align: center;
  margin: 30px;
  max-width: 600px;
}

.headerContent > h1 {
  margin-top: 60px;
}

.report {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: -100px;
  margin-left: auto;
  margin-right: auto;
}

.report > h1 > span {
  display: block;
  text-align: right;
  margin-right: 1rem;
}

@media (max-width: 768px) {
  .section {
    position: relative;
    display: block;
    min-width: 0;
  }

  .section > div {
    width: 100%;
    padding: 30px;
  }

  .section > div > img {
    width: 100%;
    max-height: 50vh;
    object-fit: cover;
  }

  .overlay {
    position: relative;
    padding: 0 !important;
  }

  .overlay::after {
    content: '\A';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #CCC;
    opacity: 0.3;
  }

  .report > a > img {
    width: 400px;
  }
}

@media (min-width: 768px) {
  .content {
    margin: 30px;
  }

  .section {
    position: relative;
    display: flex;
    min-width: 0;
    align-items: center;
  }

  .section > div {
    width: 50%;
  }

  .section > div > img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
  }

  .section > * {
    flex: 50%;
    padding: 30px;
  }

  .overlay:after {
    content: '\A';
    position: absolute;
    left: 30px;
    top: 30px;
    width: calc(100% - 60px);
    height: calc(100% - 60px);
    background: rgba(111, 111, 111, 0.3);
  }

  .overlay {
    position: relative;
  }

  .report > a > img {
    width: 600px;
  }
}

.reverse {
  flex-direction: row-reverse;
}

.headerContentLogo svg {
  width: 350px;
  max-width: 100%;
  fill: white;
  color: white;
}

.contact {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #6D6B6E;
  padding: 120px;
}

.contact > div {
  max-width: 600px;
  color: white;
}

.contact > div:first-child {
  text-align: center;
}

.contactInfo {
  display: flex;
  margin-top: 30px;
  align-items: center;
  text-align: left;
}

.contact a {
  text-decoration: none;
  color: white;
}

.contact a:hover {
  text-decoration: underline;
}

.contact > div > img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 100%;
  margin-right: 60px;
}

.members {
  position: relative;
  display: flex;
  min-width: 0;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.members > .membersTitle {
  width: 100%;
}
