.members {
}

.add_members_button:hover {
  opacity: 0.8;
  transition: 0.5;
}

.members_title {
  padding-top: var(--header-height);
  height: 20vh;
  background-image: url(static/img_new/home/background.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding-right: 20px;
  padding-left: 20px;
}

@media print {
  .members {
    padding-top: 0;
  }

  .members_title {
    display: none;
  }
}

.memberList {
  height: 100%;
  overflow: auto;
}

.listHeader {
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  padding-left: 32px;
  font-weight: bold;
  border-bottom: 1px solid #eee;
  height: 40px;
  align-items: center;
  background-color: var(--primary);
}
