.members {
  padding-top: 16px;
}

.listHeader {
  background: #F7DDC9;
  color: black;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 250px;
  text-align: center;
  margin-bottom: 40px;
}

.memberList {
  height: 100%;
  overflow: auto;
  margin-top: 40px;
  padding-top: 40px;
}
