.members {
  padding-top: var(--header-height);
}

@media print {
  .members {
    padding-top: 0;
  }
}

.memberList {
  height: 100%;
  overflow: auto;
}

.listHeader {
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  padding-left: 32px;
  font-weight: bold;
  border-bottom: 1px solid #eee;
  height: 40px;
  align-items: center;
  background-color: var(--primary);
}
