.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container input {
  font-family: 'Lato';
  display: block;
  padding: 1rem;
  width: 100%;
  border: none;
  border-bottom: 2px solid black;
}

.container select {
  font-family: 'Lato';
  display: block;
}
