body {
  font-family: 'Lato';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5;
}

p,
li {
  font-size: 14px;
  line-height: 1.5;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container input {
  font-family: 'Lato';
  display: block;
  padding: 1rem;
  width: 100%;
  border: none;
  border-bottom: 2px solid black;
}

.container select {
  font-family: 'Lato';
  display: block;
}

button,
textarea {
  border: none;
}

select:focus {
  outline: none;
}

select:hover {
  cursor: pointer;
}

input:focus {
  outline: none;
}

:global .input-label {
  font-size: 12px;
  padding-top: 10px;
  padding-bottom: 3px;
}

:global .btn-default {
  font-family: 'DIN Condensed';
  letter-spacing: 3px;
  text-transform: uppercase;
  background: #072C2E;
  color: white;
  line-height: 40px;
  height: 35px;
  padding: 0 24px;
  transition: background-color 0.2s;
  cursor: pointer;
}

:global .btn-danger {
  font-family: 'DIN Condensed';
  letter-spacing: 3px;
  text-transform: uppercase;
  background: #DD696D;
  color: black;
  line-height: 40px;
  height: 35px;
  padding: 0 24px;
  transition: background-color 0.2s;
  cursor: pointer;
}

:global .btn-bright {
  font-family: 'DIN Condensed';
  letter-spacing: 3px;
  text-transform: uppercase;
  background: #F7DDC9;
  color: black;
  width: 100%;
  line-height: 40px;
  font-size: 12px;
  border-radius: 4px;
  height: 35px;
  padding: 1em 2em;
  transition: background-color 0.2s;
  cursor: pointer;
}

:global .btn-gold {
  font-family: 'DIN Condensed';
  letter-spacing: 3px;
  text-transform: uppercase;
  background: #F7DDC9;
  color: black;
  line-height: 40px;
  height: 35px;
  padding: 0 24px;
  transition: background-color 0.2s;
  cursor: pointer;
}

:global .btn-disabled {
  font-family: 'DIN Condensed';
  letter-spacing: 3px;
  text-transform: uppercase;
  background-color: #CCC;
  color: #666;
  line-height: 40px;
  height: 35px;
  padding: 0 24px;
  transition: background-color 0.2s;
  pointer-events: none;
  cursor: pointer;
}

:global .button-wrapper {
  margin: 20px;
  display: flex;
  justify-content: center;
}

:global .center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

:global a {
  color: black;
  text-decoration: none;
}
