.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container input,
.container select {
  display: block;
  width: 100%;
  border: 2px solid #e9edef;
  font-family: var(--body-font);
  padding: 10px;
  background: #f8fbfc;
  transition: 100ms all;
  margin-top: 5px;
  margin-bottom: 1rem;
  border-radius: 5px;
}

.container select {
  background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHBvbHlnb24gY2xhc3M9ImNscy0yIiBwb2ludHM9IjEuNDEgNC42NyAyLjQ4IDMuMTggMy41NCA0LjY3IDEuNDEgNC42NyIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIzLjU0IDUuMzMgMi40OCA2LjgyIDEuNDEgNS4zMyAzLjU0IDUuMzMiLz48L3N2Zz4=)
    no-repeat 95% 50%;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #f8fbfc;
}

.container input:focus {
  border-color: #a9e0f2;
  background: white;
}

.container input[type='file'] {
  background: none;
  border: none;
  padding: 0;
}

.container select {
  font-family: 'Lato';
  display: block;
}
