.eventEdit {
  padding: 30px;
  height: 100%;
  overflow: auto;
}

.head {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.head > h2 {
  margin-top: 0;
  letter-spacing: 2px;
}

.eventEdit input {
  width: 100%;
  max-width: 500px;
}

.eventEdit textarea {
  border: 1px solid black;
  padding: 6px;
  width: 100%;
  max-width: 500px;
}

.eventEdit textarea:focus {
  outline: none;
}

.selectContainer {
  border: 1px solid black;
  padding: 5px;
  width: fit-content;
}

.import {
  margin-top: 10px;
  display: flex;
}
