.eventEdit {
  padding: 50px;
  height: 100%;
  width: 50%;
  max-width: 640px;
  background-color: white;
  position: relative;
  margin-top: 50px;
  overflow: scroll;
  padding-bottom: 75px;
}

.head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.head > h2 {
  margin-top: 0;
  letter-spacing: 2px;
  margin-bottom: 0;
}

.eventEdit input {
  width: 60%;
  display: inline-block;
}

.eventEdit .checkbox {
  width: 40px;
}

.eventEdit textarea {
  border: 1px solid black;
  padding: 6px;
  width: 100%;
}

.eventEdit textarea:focus {
  outline: none;
}

.selectContainer {
  border: 1px solid black;
  padding: 5px;
  width: fit-content;
}

.selectContainer select {
  font-family: var(--body-font);
}

.import {
  margin-top: 10px;
  display: flex;
}

.eventPicture {
  display: inline-block;
}

.eventPicture {
  display: inline-block;
  padding: 10px 10px 10px 0;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

.inputLabel {
  padding-top: 20px;
}

.rounded {
  border-radius: 20px;
}

@media (max-width: 795px) {
  .eventEdit {
    margin-top: 0px;
    min-width: 100%;
    padding-left: 15%;
    padding-right: 15%;
  }
}
