.eventEdit {
  padding: 0 50px 50px;
  height: 100%;
  width: 85%;
  background-color: white;
  position: relative;
  margin-top: 10px;
  overflow: scroll;
  padding-bottom: 75px;
}

.head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.head > h2 {
  margin-top: 0;
  letter-spacing: 2px;
  margin-bottom: 0;
}

.eventEdit input {
  width: 60%;
  display: inline-block;
}

.eventEdit .checkbox {
  width: 40px;
}

.eventEdit textarea {
  width: 100%;
  border: 2px solid #e9edef;
  font-family: var(--body-font);
  padding: 10px;
  background: #f8fbfc;
  transition: 100ms all;
  margin-top: 5px;
  border-radius: 5px;
}

.eventEdit textarea:focus {
  border-color: #a9e0f2;
  background: white;
  outline: none;
}

.eventEdit select {
  width: fit-content;
  font-family: var(--body-font);
}

.import {
  margin-top: 10px;
  display: flex;
}

.eventPicture {
  display: inline-block;
  padding: 10px 10px 10px 0;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

.inputLabel {
  margin: 30px 0;
}

.rounded {
  border-radius: 20px;
}

@media (max-width: 795px) {
  .eventEdit {
    margin-top: 0px;
    min-width: 100%;
    padding-left: 15%;
    padding-right: 15%;
  }
}
