.headerContainer {
  display: flex;
  width: 100%;
}

.listContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.actions {
  padding: 10px;
  margin: 10px;
  background-color: var(--primary);
  color: #eee;
  width: fit-content;
  border-radius: 20px;
}
.actions:hover {
  opacity: 0.85;
}

.post {
  width: 200px;
  height: 200px;
}

.title {
  width: 200px;
  height: 30px;
}

.postContainer {
  display: flex;
  flex-direction: column;
}

.postContainer:hover {
  opacity: 0.3;
  cursor: pointer;
}

.search {
  width: 40px;
}
