.headerContainer {
  display: flex;
  width: 100%;
}

.listContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-left: 40px;
  padding-right: 40px;
}

.searchContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.actions {
  padding: 10px;
  margin: 10px;
  background-color: var(--primary);
  color: #eee;
  width: fit-content;
  border-radius: 20px;
}
.actions:hover {
  opacity: 0.85;
}

.image {
  float: left;
  width: 315px;
  height: 315px;
  object-fit: cover;
}

.title {
  color: #4c4a37;
  font-family: var(--body-font);
  font-size: 15px;
  font-weight: 400;
  line-height: 10px;
  margin: 0 0 12px;
  text-transform: uppercase;
}

.postsContainer {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 20px 10px;
  border: 1px solid #bfbfbf;
  background-color: rgba(246, 246, 246, 0.759);
  box-shadow: 10px 10px 5px #aaaaaa;
}

.postContainer:hover {
  opacity: 0.3;
  cursor: pointer;
}

.search {
  width: 40px;
}

.buton {
  margin-top: 10px;
  color: #4c4a37;
  padding: 10px 32px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-color: #4c4a37;
  border-radius: 3px;
  border: 2px solid lightgray;
  font-family: var(--body-font);
}

.buton:hover {
  opacity: 0.3;
  cursor: pointer;
}
