.content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.bar_chart_container {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: flex-end;
}

.bar_container {
  padding: 2em;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.bar {
  background-color: var(--primary);
}

.bar_amount {
  padding-bottom: 1em;
  font-size: 1.2em;
}

.bar_name {
  padding-top: 1em;
}
