.trip { /* stylelint-disable */
  height: 100vh;
  padding: 66px 20px 0 20px;
  display: flex;
  flex-direction: column;
}

/* iPhone-X landscape insets */
@supports (padding: max(0%)) {
  .trip {
    padding-left: max(20px, env(safe-area-inset-left));
    padding-right: max(20px, env(safe-area-inset-right));
  }
}

.trip > h1 {
  margin-top: 0px;
}

.trip > iframe {
  width: 100%;
  flex:1;
}

.trip .referral {
  display: none;
}
