.roleContainer {
  display: flex;
  flex-direction: column;
}

.title {
  margin-bottom: 0;
  padding-bottom: 0;
  color: #37444b;
  font-size: 24px;
  font-weight: 900;
}

.description {
  text-align: justify;
  max-width: 400px;
  font-size: 16px;
  font-weight: 300;
}

.boldIntro {
  color: #37444b;
  font-weight: 400;
}
